@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Import custom theme classes */
@import './lib/theme.css';

@theme {
	--default-font-family: 'IBM Plex Sans', 'sans-serif';
}

/* Theme Color Variables */
:root {
	/* Light Theme Color Variables */
	--color-primary: black; /* black */
	--color-background: oklch(97% 0 0); /* neutral-100 */
	--color-box: white; /* white */

	/* Thumbnail styles configuration */
	--thumbnail-filter: grayscale(100%);
	--thumbnail-hover-filter: grayscale(0%);
}

/* Dark Theme Color Variables */
@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: white; /* white */
		--color-background: oklch(20.5% 0 0); /* neutral-900 */
		--color-box: oklch(26.9% 0 0); /* neutral-800 */

		/* Thumbnail styles for dark theme */
		--thumbnail-filter: grayscale(100%);
		--thumbnail-hover-filter: grayscale(0%);
	}
}
